@import url(http://fonts.googleapis.com/css?family=Marcellus);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Molle:400italic);

a {
text-decoration:none; color:inherit;
}
body,html {
width:100%; font:normal 16px 'Open Sans'; color:#f0f0f0; z-index:998;
}
body {
background:rgb(4,13,20); font:normal 16px 'Open Sans',sans-serif; position:relative; overflow-x:hidden;
}

#top {
width:100%; height:50px; background:transparent/*rgba(28,30,29,1)*/; border-bottom:0px solid rgba(0,0,0,0.9); position:relative; z-index:998; margin-top:30px;
/*box-shadow:0 1px 1px rgba(0,0,0,0.7); -moz-box-shadow:0 1px 1px rgba(0,0,0,0.7); -o-box-shadow:0 1px 1px rgba(0,0,0,0.7); -ms-box-shadow:0 1px 1px rgba(0,0,0,0.7); -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.7);*/
}
	#about {
	right:10px; background-position:-133px 0; opacity:0.85;
	}
		#about:hover {
		opacity:1.0;
		}
	#back {
	left:10px; background-position:-190px 0;
	}

	#brand {

		width:250px; 

		display:block;
		position:relative;
		vertical-align:middle; 
		
		padding:3.4px 0 0 0; 
		margin:0 auto 0 auto;
		
		color:rgb(222,222,222);
		text-align:center;
		font-style:italic; 
		font-family:'Molle'; 
		font-size:1.7em;

		cursor:default;  

	}

	#lock {
		left:10px;
	}

	#unlock {
		left:10px;
	}

	#upload {
		right:10px;
	}

#wrapper {
	width:100%; margin:0 auto 0 auto; position:relative;
}
	.Pictre-notice {
		width:100%; 
		min-height:18px;

		display:block;
		position:absolute;
		top:4px; 
		left:0;

		margin:0 auto 0 auto;   
		padding:11px 0 7px 0; 

		color:rgb(169,225,250);
		text-align:center;
		font:400 0.8em 'Open Sans';
	}

		.Pictre-notice-extra {
		max-width:52px; position:absolute; right:30px; text-align:right; top:11px; overflow-x:hidden;
		}
	#Pictre-wrapper {
	width:100%; display:block; margin:2% auto 0 auto; position:absolute; min-height:80%;
	}
	#Pictre-spotlight-wrapper {
	width:100%; min-height:100%; margin:60px auto 0 auto; position:absolute; top:98px; display:block;
	}
		#Pictre-spotlight-wrapper-comments {
		position:absolute; width:500px; min-height:10px; display:none; border-width:0; border-style:solid;
		border-color:transparent transparent transparent transparent;
		}
			#Pictre-spotlight-wrapper-comments .comment {
				
				width:100%; 
				min-height:30px; 

				position:relative;
				float:left;

				padding:20px 0 20px 0;

				border-top:1px solid rgb(22,23,23);

				font-size:0.95em; 

			
			}
				#Pictre-spotlight-wrapper-comments .comment input {
					width:100%; padding:0; text-align:center; font:inherit; color:inherit; margin:0; background:transparent; border:0;
				}

				#Pictre-spotlight-wrapper-comments .comment p {
					
					width:100%; 

					position:relative;
					float:left;

					padding:25px 0 10px 0;

					color:rgb(152,158,158);
					text-align:center; 

				}

				#Pictre-spotlight-wrapper-comments .comment .author {
					width:100%;

					position:relative;

					float:left;

				}

		#Pictre-spotlight-wrapper-pic {

			width:191px; 
			min-height:5px; 

			padding:12px 12px 9px 12px; 

			float:left;
			position:absolute; 
			display:table;
			
			border-radius:1px;
			border-width:2px 1px 1px 2px; 
			border-style:solid; 
			border-color:transparent; 

			text-align:center;

		}

			#Pictre-spotlight-wrapper-pic img {
			border-radius:3.5px; box-shadow:1px 1px 5px rgba(0,0,0,0.4);
			}

			#Pictre-spotlight-wrapper-pic p {
			display:table-cell; text-align:center; vertical-align:middle;
			}

.brand {
font-weight:normal; font-style:italic; font-family:'Molle'; margin-right:4px;
}
.Pictre-home-wrapper {
width:65%; height:30%; margin:0 auto 0; position:absolute; left:0; top:10%; text-align:center; min-height:240px; z-index:997;
}
	.Pictre-home-wrapper-about {
	width:60%; color:rgb(131,147,147); text-shadow:0 -1px 0 rgb(0,0,0); margin:10% auto 50px auto; clear:left; display:block;
	}
		.Pictre-home-wrapper-about span {
		display:block; margin-top:25px; font-size:1.1em;
		}
	.Pictre-home-container {
	width:80%; height:100%; background:rgba(28,30,29,1) url(i/Pictre-wall.png) no-repeat center 10%; margin:0 auto 0; text-align:center; text-shadow:0 -1px 0 rgb(0,0,0);
	border:1px solid rgba(0,0,0,0.3); border-radius:4.5px; display:table;
	box-shadow:0 2px 0 rgba(0,0,0,0.6); /*-moz-box-shadow:inset 2px 1px 7px rgb(6,7,6); -o-box-shadow:inset 2px 1px 7px rgb(6,7,6); -ms-box-shadow:inset 2px 1px 7px rgb(6,7,6); -webkit-box-shadow:inset 2px 1px 7px rgb(6,7,6);*/
	}
		.Pictre-home-container p {
		display:table-cell; vertical-align:bottom; text-align:center; paddiPictre-bottom:20px; font-size:1.5em; height:90%; width:100%; color:rgb(145,159,159); position:relative;
		}
			.Pictre-home-container p input {
			border:0; padding:0; background:transparent; font:inherit; color:inherit; text-align:center; width:100%; display:inline-block;
			}
.Pictre-empty {
margin:0 auto 0; position:absolute; left:41%; top:30%; width:250px; height:100px; text-align:center; text-shadow:0 -1px 0 rgb(0,0,0); color:rgb(126,133,133); font-size:0.9em;
}
.Pictre-loader-wrapper {
width:45%; height:1px; background:rgb(8,27,41)/*rgb(44,44,44)*/; position:absolute; border-radius:2px; /*border-bottom:1px solid rgb(56,56,56);*/ border:0px solid rgb(31,31,31);
/*box-shadow:inset 1px 1.5px 3px rgb(18,18,18); -moz-box-shadow:inset 1px 1.5px 3px rgb(18,18,18); -o-box-shadow:inset 1px 1.5px 3px rgb(18,18,18); -webkit-box-shadow:inset 0 0 0 rgb(18,18,18); -ms-box-shadow:inset 1px 1.5px 3px rgb(18,18,18);*/
}
	.Pictre-loader-progress {
    	width:0; 
    	height:100%; 

    	border-radius:inherit;

    	position:absolute; 
    	left:0; 
    	top:0; 

    	background:rgba(255,255,255, 0.2);

    	/*box-shadow:			inset 0 1px 5px rgb(4,13,20);
    	-moz-box-shadow:	inset 0 1px 5px rgb(4,13,20); 
    	-o-box-shadow:		inset 0 1px 5px rgb(4,13,20); 
    	-ms-box-shadow:		inset 0 1px 5px rgb(4,13,20);
    	-webkit-box-shadow:	inset 0 1px 5px rgb(4,13,20);*/
	}
.Pictre-pic {
	color: rgba(255,255,255,0.6);
	
	width:190px;
	min-height:5px; 

	padding:12px 10px 9px 10px; 
	margin:11px; 
	
	background:transparent/*rgb(34,36,36)*/; 
	
	position:absolute;
	
	border-radius:2.5px;
	border-width:2px 1px 1px 2px; 
	border-style:solid; 
	border-color:transparent/*rgb(23,24,24)*/; 

	text-align:center; float:left;
	
	box-shadow:inset 1px 1px 10px transparent; 
	-moz-box-shadow:inset 1px 1px 10px transparent; 
	-o-box-shadow:inset 1px 1px 10px transparent; 
	-webkit-box-shadow:inset 1px 1px 10px transparent/*rgba(23,24,24,0.8)*/;
	-ms-box-shadow:inset 1px 1px 10px transparent;

}
	.Pictre-pic img {

		border-radius:3.5px;
		box-shadow:1px 1px 6px rgba(5,5,5,0.1);
		max-width:190px; margin:0;

	}
		.Pictre-pic img:active {
			border:1px solid rgba(0,0,0,0.2);
		}
.Pictre-splash-wrapper {

	position:fixed; 
	top:0; 
	left:0; 

	width:100%; 
	height:100%; 

	background:url(i/splash.jpg); 
	background-size:cover;

}
.Pictre-overlay {
position:fixed; top:0; right:0; left:0; bottom:0; width:100%; height:100%; background:rgba(4,13,20,0.9); overflow-x:auto; overflow-y:auto; z-index:999; display:none;
}
	.Pictre-overlay-pic {
	margin:0 auto 0 auto; text-align:center; position:relative;
	}
		.Pictre-overlay-pic img {
		box-shadow:1px 1px 6px rgba(0,0,0,0.4); border-radius:2.5px;
		}

		.Pictre-overlay-pic-options {
			width:40px; 
			height:40px; 

			position:absolute; 
			right:0; 
			top:0; 
			z-index:999;

			opacity:1.0;

		}
			.Pictre-overlay-pic-options span {
				
				padding-top:10px;

				color:white;
				font-size:1.35em;
				text-shadow:0 1px 0 rgba(0,0,0,0.8);
			}

			.Pictre-overlay-pic-options:active {
				opacity:0.8;
			}

			.Pictre-overlay-pic-options-wrapper {
				
				min-width:160px; 
				min-height:10px;
				
				padding:3px 5px 5px 5px;

				position:absolute; 
				top:0; 
				right:0;
				z-index:999;
				display:none;

				border-radius:2px;
				border-top:1px solid rgba(0,0,0,0.8);

				background:rgba(0,0,0,0.7);  

			}
				.Pictre-overlay-pic-options-wrapper ul {
				display:block; width:100%; height:100%; color:rgb(255,255,255);
				}
					.Pictre-overlay-pic-options-wrapper ul li {
					display:block; width:100%; min-height:10px; padding:4px 0 5px 0; text-align:center; cursor:pointer; border-radius:2px;
					}

						.Pictre-overlay-pic-options-wrapper ul li:active {
							color:rgba(255,255,255,0.8);
						}

						.Pictre-overlay-pic-options-wrapper ul li span {

						}

		.Pictre-overlay-pic img {

			max-width:100%; 
			z-index:99;

		}

		.Pictre-loader {

			width:50px; 
			height:50px; 

			position:fixed; 
			left:50%; 
			top:50%; 

			margin:-25px 0 0 -25px; 

			/*background:red;*/
/*			background:url(i/loader.gif);
*/
		}
			
			.Pictre-loader span {

				color:white;

			}

		.Pictre-comments-wrapper {
		position:absolute; bottom:0; left:0; width:100%; min-height:100px; min-height:10px; font-size:0.9em;
		}
			.Pictre-comment {
			width:100%; min-height:34px; border-top:1px solid rgba(49,52,52,0.6); border-bottom:0 solid rgb(0,0,0); padding:22px 0 8px 0; position:relative; font-size:0.95em;
			}
				.Pictre-comment-author {
				position:absolute; top:7px; right:2px; font-size:0.89em;
				}
			.Pictre-comment-input {
			width:100%; height:100%; padding:0; margin:0; background:transparent; font:inherit; color:inherit; display:block; border:0; text-align:center;
			}
				.Pictre-comment-input-name {
				position:absolute; right:2px; top:7px; width:auto; height:auto; text-align:right; font-size:0.89em;
				}

				.Pictre-comment-input-name-overlay {

					width:100%;
					height:100%;

					position:absolute; 
					left:0; 
					top:-1px; 

					text-align:center; 
					font-size:1em;

				}

.Pictre-passcode-wrapper {
width:55%; max-width:480px; min-width:300px; min-height:220px; background:transparent; border-radius:3px; position:absolute; color:white; text-align:center;
border-top:0 solid rgb(130,130,130);
}
	.Pictre-passcode-p,.Pictre-passcode-wrapper p {
	padding: 0 19%; display:block; margin:0 0 22px 0; text-align:center; color:rgb(181,181,181); font-size:0.9em;
	}

		.Pictre-passcode-p,.Pictre-passcode-wrapper p span {
			font-family:'Marcellus';
		}

	.Pictre-passcode-input-wrapper {
	/*width:100%;*/ float: left;
	}
		.Pictre-passcode-input {
		background:transparent; color:rgb(181,181,181); font:inherit; text-align:center; padding:10px 0; border:0; display:block; border:0; width:62%; margin:0 auto; border-radius:2px;
		border-top:1px solid rgba(105,105,105,0.3); font-size:0.9em; font-family:'Marcellus';
		}
.Pictre-upload {
	
	width:100%/*700px*/; 
	height:100%/*335px*/; 

	margin:0 auto 0; 

	border-width:/*3px 1px 1px */1px; 
	border-style:hidden; 
	border-color:rgba(34,38,38,0.8); 
	border-radius:3.5px; 

	display:table;
	position:absolute; 
	left:0; 
	top:0;

	text-align:center;

}
	.Pictre-upload-header {
		
		width:100%; 
		min-height:10px; 

		padding:25px 0 0 0; 

		border-style:solid; 
		border-width:0 0 0 0; 
		border-color:rgb(160,168,168);
	
		color:rgb(222,222,222); 
		font-family:'Molle'; 
		font-style:italic; 
		font-size:1.25em; 
		text-shadow:0 1px 0 black;

		position:absolute;

	}

	.Pictre-upload-area {

		width:280px; 
		height:230px; 

		border-top:1px solid rgba(105,105,105,0.3); 

		position:absolute; 
		z-index:99;
		
		top:50%; 
		left:50%; 

		cursor:default;
		
		font-size:0.93em;
		font-family:'Marcellus';
		text-align:center;

	}
		.Pictre-upload-area:active {
		border-color:rgba(222,222,222,0.3);
		}
		.Pictre-upload-area-shader {
		position:absolute;  border:0; padding:0; left:0px; top:0; width:100%; height:100%; display:table; z-index:1; color:rgb(222,222,222);
		/*box-shadow:inset 2px 2px 10px rgb(3,4,4); -moz-box-shadow:inset 2px 2px 10px rgb(3,4,4); -o-box-shadow:inset 2px 2px 10px rgb(3,4,4); -webkit-box-shadow:inset 2px 2px 10px rgb(3,4,4);*/
		/*-ms-box-shadow:inset 2px 2px 10px rgb(3,4,4);*/
		}
			.Pictre-upload-area p {
			width:100%; padding:0 10px 0 10px; display:table-cell; vertical-align:middle; font-size:0.9em; color:inherit; word-wrap:break-word; z-index:999;
			}
		.Pictre-upload-area-progress {
		position:absolute; left:0; top:-1px; width:0; border-top-width:1px; border-bottom-width:0; border-style:solid; border-color:rgb(66,29,77); z-index:999;
		}
.Pictre-warning {
height:140px;
}
	.Pictre-warning .Pictre-upload-header {
	color:rgb(181,181,181);
	}
	.Pictre-warning p {
	width:50%; margin:0 auto; padding:12px 0 0 0; text-align:center; vertical-align:baseline; color:rgb(181,181,181); text-shadow:0 -1px 0 rgb(0,0,0); font-size:0.9em; border-top:1px solid rgba(105,105,105,0.3);
	}
		.Pictre-warning p a:hover {
		color:rgb(159,145,159);
		}
		.Pictre-warning p p {
		margin-top:0;
		}
			.Pictre-warning p:first-child {
			margin-top:0;
			}
.Pictre-spacer {
width:100%; height:100px;
}
.top-button {
width:53px; height:50px; /*background:url(i/Pictre-sprite.png) no-repeat 10px center;*/ position:absolute; top:0; margin:0 7px 0 7px; opacity:1.0;
}
	.top-button:active {
	opacity:0.8;
	}

	.top-button span {
		padding-top:10px; width:100%; height:100%; text-align:center;
	}
.vert-shader-1,.vert-shader-2 {
width:1px; height:100%; position:absolute; background:rgb(47,52,50); top:0;
}
.vert-shader-2 {
background:rgba(255,255,255,0.25);
}
.hor-shader-1,.hor-shader-2,.hor-shader-3 {
width:100%; height:1px; position:absolute; background:rgb(47,52,50); left:0;
}
.hor-shader-2 {
background:rgba(255,255,255,0.25);
}
.hor-shader-3 {
background:rgb(166,151,151);
}
.left {
left:0;
}
.right {
right:0;
}
.top {
top:0;
}
.bottom {
bottom:0;
}